app:
  defaultLanguage: en
server:
  port: 8080
  servlet:
    context-path: /RMBTStatisticServer
spring:
  http:
    multipart:
      enabled: false
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  application:
    name: statistic-backend
  datasource:
    poolSize: 20
    minIdle: 1
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5431/rtr
    username: rtr
    password: password

#    tomcat:
#      test-while-idle: true
#      test-on-borrow: true
#      validation-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisDialect
  flyway:
    enabled: true
  jackson:
    deserialization:
      fail-on-unknown-properties: true
RMBT_SECRETKEY: RMBT_SECRETKEY

application-version:
  host: rtr-api-dev

redis:
  host: localhost
  port: 6379
---
spring:
  profiles: dev
  datasource:
    poolSize: 20
    minIdle: 1
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DB_URI}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
#    tomcat:
#      test-while-idle: true
#      test-on-borrow: true
#      validation-query: SELECT 1

application-version:
  host: rtr-api-dev

redis:
  host: redis
  port: 6379
---
spring:
  profiles: test
  datasource:
    poolSize: 20
    minIdle: 1
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DB_URI}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    tomcat:
      test-while-idle: true
      test-on-borrow: true
      validation-query: SELECT 1

application-version:
  host: rtr-api-test

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}
---
spring:
  profiles: staging
  datasource:
    poolSize: 20
    minIdle: 1
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DB_URI}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    tomcat:
      test-while-idle: true
      test-on-borrow: true
      validation-query: SELECT 1

application-version:
  host: rtr-api-staging

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}
logging:
  config: ${LOGGING_CONFIG_FILE_STATISTIC:classpath:logback.xml}