app:
  defaultLanguage: en
  fileCache:
    # period for deletion of cache
    cleaningJobRate: PT24H # 24 hours period, ISO_8601
    path: /tmp/cache
    pdfPath: /tmp/pdf
    # delete files older than X hours
    expirationTerm: 23 # hours
server:
  port: 8080
  servlet:
    context-path: /RMBTStatisticServer
spring:
  # Default profile - used when spring.profiles.active is not set
  application:
    name: statistic-backend
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${STATISTIC_DB_HOST:127.0.0.1}:${STATISTIC_DB_PORT:5432}/${STATISTIC_DB_NAME:rmbt}
    username: ${STATISTIC_DB_USER:rmbt}
    # intellig: set pw in environment, e.g. STATISTIC_DB_PASSWORD=pwwithoutquotes
    password: ${STATISTIC_DB_PASSWORD}

  #    tomcat:
  #      test-while-idle: true
  #      test-on-borrow: true
  #      validation-query: SELECT 1
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
  jackson:
    deserialization:
      fail-on-unknown-properties: true


application-version:
  host: rtr-statistic-default

redis:
  host: ${STATISTIC_REDIS_HOST:127.0.0.1}
  port: ${STATISTIC_REDIS_PORT:6379}
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${STATISTIC_DB_HOST:127.0.0.1}:${STATISTIC_DB_PORT:5432}/${STATISTIC_DB_NAME:rmbt}
    username: ${STATISTIC_DB_USER:rmbt}
    password: ${STATISTIC_DB_PASSWORD}

#    tomcat:
#      test-while-idle: true
#      test-on-borrow: true
#      validation-query: SELECT 1

application-version:
  host: rtr-statistic-dev

redis:
  host: ${STATISTIC_REDIS_HOST:127.0.0.1}
  port: ${STATISTIC_REDIS_PORT:6379}
---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${STATISTIC_DB_HOST:127.0.0.1}:${STATISTIC_DB_PORT:5432}/${STATISTIC_DB_NAME:rmbt}
    username: ${STATISTIC_DB_USER:rmbt}
    password: ${STATISTIC_DB_PASSWORD}
    tomcat:
      test-while-idle: true
      test-on-borrow: true
      validation-query: SELECT 1

application-version:
  host: rtr-statistic-test

redis:
  host: ${STATISTIC_REDIS_HOST:127.0.0.1}
  port: ${STATISTIC_REDIS_PORT:6379}
---
spring:
  config:
    activate:
      # production profile - activate by adding "spring.profiles.active=prod" to "catalina.properties"
      on-profile: prod
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${STATISTIC_DB_HOST:127.0.0.1}:${STATISTIC_DB_PORT:5432}/${STATISTIC_DB_NAME:rmbt}
    username: ${STATISTIC_DB_USER:rmbt}
    password: ${STATISTIC_DB_PASSWORD}
    tomcat:
      test-while-idle: true
      test-on-borrow: true
      validation-query: SELECT 1

application-version:
  host: ${HOST_ID:rtr-statistic-prod}

redis:
  host: ${STATISTIC_REDIS_HOST:127.0.0.1}
  port: ${STATISTIC_REDIS_PORT:6379}
logging:
  config: ${LOGGING_CONFIG_FILE_STATISTIC:classpath:logback.xml}