name: Java CI
on: [workflow_dispatch, push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Get git info
        run: mvn -B  io.github.git-commit-id:git-commit-id-maven-plugin:6.0.0:revision
      - name: Test
        run: >-
          mvn
          org.jacoco:jacoco-maven-plugin:0.8.10:prepare-agent
          test -B
          org.jacoco:jacoco-maven-plugin:0.8.10:report
